@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
  height: fit-content;
  padding-top: 20px;
  border: 1px;
}
.row {
  display: flex;
  flex-direction: row;

  .fill {
    width: 45%;
  }
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.action {
  padding: 0px 25px 20px;
}
.form-container {
  transition: opacity 0.3s ease-in-out;
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 1;
}
