<!-- <app-navbar></app-navbar>
<app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>
<div class="body" [ngClass]="getBodyClass()">
  <h1>Login page</h1>
</div> -->
<!-- <mat-card class="card example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="card-title title"
      ><mat-icon>fingerprint</mat-icon>SupNum</mat-card-title
    >
    <mat-card-subtitle class="title-into">
      Connexion a votre compte</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content class="card-body content">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="login-top">
        <mat-form-field appearance="outline" class="fill">
          <mat-label>Email</mat-label>
          <input name="email" type="email" formControlName="email" matInput />
        </mat-form-field>

        <mat-form-field appearance="outline" class="fill">
          <mat-label>Password</mat-label>
          <input
            name="password"
            type="password"
            formControlName="password"
            matInput
          />
        </mat-form-field>
        <div class="login-btn">
          <button mat-flat-button color="primary" type="submit">Login</button>
        </div>
      </div>
      <div class="login-buttom">
        <div class="foget">
          <a class="link" routerLink="forget">Mot de passe oublié?</a>
        </div>
        <div class="signup">
          Vous n'avez pas de compte?<a class="link" routerLink="../home-signup"
            >Inscrivez-vous</a
          >
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card> -->
<!------------------------------------------  Main container ---------------------------- -->
<div class="body">
  <div
    class="container d-flex justify-content-center align-items-center min-vh-100"
  >
    <!------------------------------------------  logo container ---------------------------- -->
    <div class="row border rounder-5 p-3 bg-white shadow box-area">
      <!------------------------------------------  left box ---------------------------- -->
      <div
        class="col-md-6 rounder-4 d-flex justify-content-center align-items-center flex-column left-box"
        style="background-color: whitesmoke"
      >
        <div class="featured-image mb-3">
          <img
            src="assets/images/supnum.png"
            alt=""
            class="img-fluid"
            style="width: 250px"
          />
          <p
            class="text-black f-s-2"
            style="
              font-family: 'Courier New', Courier, monospace;
              font-weight: 600;
            "
          >
            Institut supérieur du numérique
          </p>
          <small
            class="text-black text-wrap text-center"
            style="width: 17rem; font-family: 'Courier New', Courier, monospace"
            >Gestion de Paiement des Professeurs</small
          >
        </div>
      </div>
      <!------------------------------------------  right box ---------------------------- -->
      <div class="col-md-6 right-box">
        <div class="row items-center">
          <div class="header-text mb-4">
            <h2 class="text-xl font-bold mb-4 text-center text-blue-950">
              Connexion à l'Application
            </h2>
            <p></p>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="input-group mb-4">
              <input
                class="form-control form-control-lg bg-light fs-6"
                placeholder="Adresse e-mail"
                type="email"
                formControlName="email"
                [ngClass]="{
                  'is-invalid': isSubmit && loginForm.controls['email'].errors
                }"
              />
            </div>

            <div class="input-group mb-1">
              <input
                class="form-control form-control-lg bg-light fs-6"
                placeholder="Mot de passe"
                type="password"
                formControlName="password"
                [ngClass]="{
                  'is-invalid':
                    isSubmit && loginForm.controls['password'].errors
                }"
              />
            </div>
            <div class="input-group mb-4 d-flex justify-content-between">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" />
                <label for="formCheck" class="form-check-label text-secondary"
                  ><small>Souviens-toi de moi</small></label
                >
              </div>
              <div class="forget">
                <small
                  ><a routerLink="../forget" class="text-blue-600"
                    >Mot de passe oublié?</a
                  ></small
                >
              </div>
            </div>
            <div class="input-group mb-4 gap-1">
              <a
                (click)="login()"
                mat-button
                type="submit"
                class="flex hover:bg-gray-600 group items-center rounded-md bg-gray-700 text-white text-sm font-medium pl-2 pr-3 py-2 shadow-sm"
              >
                <mat-icon>login</mat-icon>
                Se connecter
              </a>
              <!-- <button
                mat-raised-button
                color="primary"
                type="submit"
                class="p-4"
              >
                <mat-icon>login</mat-icon>
                Se connecter
              </button> -->
            </div>
            <!--  <div class="input-group mb-3">
            <button class="btn btn-lg btn-primary w-100 fs-6">
              <img src="" style="width: 20px" /><small>Se connecter</small>
            </button>
          </div> -->
            <div class="row justify-start">
              <small
                >Vous n'avez pas de compte?
                <a routerLink="../signup" class="text-blue-600"
                  >Inscrivez-vous</a
                ></small
              >
            </div>
          </form>
        </div>
      </div>
      <!------------------------------------------  Main container ---------------------------- -->
    </div>
  </div>
</div>
