<!-- <div
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
>
  <div class="bg-white p-4 rounded-lg shadow-md"></div>

  <div class="bg-white p-4 rounded-lg shadow-md">

    Graph 2
  </div>
  <div class="bg-white p-4 rounded-lg shadow-md">

    Graph 3
  </div>

</div> -->
<!-- <app-statistique></app-statistique>
<div class="bg-white p-5 rounded-lg shadow-md">
  <div class="graph">
    <h2>Sales Data</h2>
    <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [type]="'pie'"
    >
    </canvas>
  </div>
</div> -->

<div class="card overflow-x-auto rounded-b-md shadow-lg">
  <div class="card-body p-6">
    <app-statistique></app-statistique>
    <app-prof-cours-graph></app-prof-cours-graph>
  </div>
</div>
