<h1 mat-dialog-title class="border-b">Ajouter de payements</h1>
<div mat-dialog-content class="container">
  <div class="content">
    <div class="row flex w-full border-1 rounded-md p-4">
      <div class="flex-col w-full bg-gray-50 text-black rounded-md mb-2 py-3">
        <h1 class="text-xl mb-1 font-mono">Informations</h1>
        <p>Nombre des professeurs : {{ data.nombresProfesseurs }}</p>
        <p>Nombre des cours: {{ data.nbc }}</p>
        <p>Total somme : {{ data.somme }} MRU</p>
        <p>
          Durant l'exercice : ({{
            data.months > 1 ? data.months + " mois/" : ""
          }}
          {{
            data.weeks == 1
              ? "Une semaine"
              : data.weeks > 1
              ? data.weeks + " semaines"
              : ""
          }}{{
            data.days == 1
              ? "/Un jour"
              : data.days > 1
              ? "/" + data.days + " jours"
              : ""
          }})
        </p>
      </div>
      <!--  <h1 class="text-xl mb-1 font-mono">La période :</h1>
      <mat-form-field appearance="outline" class="mt-4">
        <mat-label>Du</mat-label>
        <input matInput [matDatepicker]="debit" [(ngModel)]="data.fromDate" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="debit"
        ></mat-datepicker-toggle>
        <mat-datepicker #debit></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="fill">
        <mat-label>Au</mat-label>
        <input matInput [matDatepicker]="fin" [(ngModel)]="data.toDate" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="fin"
        ></mat-datepicker-toggle>
        <mat-datepicker #fin></mat-datepicker>
      </mat-form-field> -->
      <!--  <p>What's your favorite animal?</p>
  <mat-form-field appearance="fill">
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.animal" />
  </mat-form-field> -->
    </div>
  </div>
</div>
<div mat-dialog-actions class="action">
  <button
    mat-button
    class="px-3"
    type="button"
    color="warn"
    (click)="onNoClick()"
  >
    Annuler
    <mat-icon>close</mat-icon>
  </button>
  <button
    (click)="openDialog()"
    mat-button
    color="primary"
    class="px-3"
    type="submit"
    [disabled]="data.nbc == 0"
  >
    Modifier
    <mat-icon>edit</mat-icon>
  </button>
  <button
    mat-button
    [mat-dialog-close]="data"
    cdkFocusInitial
    color="primary"
    class="px-3"
    type="submit"
    [disabled]="data.nbc == 0"
  >
    Enregistrer
    <mat-icon>checked</mat-icon>
  </button>
</div>
